langchain_community
langchain
loguru
rich
sentence-transformers==2.3.0
unstructured
unstructured[pdf]
chromadb
rank_bm25
matplotlib
jsonargparse
langchain-openai
pymupdf
streamlit
cohere
langchain-huggingface
langchain-milvus
langchain-mongodb
python-docx
openpyxl
transformers
torch
llama-parse
pydantic
filetype
redis>=4.5.0
psutil
pydantic
structlog
prometheus_client
pydantic-settings